table {
  width: 100%;
  border-spacing: 0;
}

//cells
td {
  height: 5rem;
  border: 1px solid #e1e1e1;
  text-align: center;
  overflow: hidden;

  input {
    height: 100%;
    width: 100%;
    margin: 0;
    border: none;
    box-sizing: border-box;
    caret-color: transparent;
    background-color: transparent;

    &:focus {
      outline: none;
      caret-color: #000;
    }

    &:hover {
      cursor: default;
    }
  }
}

//second row (columns` names)
tr:nth-child(2) {
  height: 80px;
  background-color: #6d9eeb;
  cursor: default;
}

//first column
td:first-child {
  width: 3rem;
  background-color: #e7f8ed;
}

//focused cell
.focused-cell {
  outline: 0.2rem solid #1a73e8;
  outline-offset: -0.1rem;
}

.column-header {
  position: relative;
  top: 40%;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.column-name {
  display: flex;
  flex-wrap: wrap;
  color: #fff;
  font-weight: bold;
}

.sort-button {
  margin: 0 0.2rem 0.5rem;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0.7rem;
  border-color: #c9daf8 transparent transparent transparent;

  &:hover {
    cursor: pointer;
    border-color: #a8c0e1 transparent transparent transparent;
  }
}

td.highlighted-row {
  background-color: #c4eed0;
}

td.highlighted-col {
  background-color: #c9daf8;
}

tr:last-child td {
  height: 2.5rem;
  background-color: #edf2fa;

  div {
    height: 100%;
    display: flex;
    gap: 5rem;
    justify-content: center;
    align-items: center;
  }
}

input[type="checkbox"] {
  width: 1.5rem;
  height: 1.5rem;

  &:hover {
    cursor: pointer;
  }
}

.inputing-invalid-data {
  background-color: #f8d7da;
}

.invalid-cell {
  position: relative;
}

.invalid-cell::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0.5rem;
  border-color: red red transparent transparent;
}
